.button {
  background-color: grey;
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  height: auto;
  width: auto;
}

button:hover {
  opacity: 0.8;
}
