.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.note {
  margin: 0rem;
  padding: 0.5rem;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
}
