.nav {
  background-color: #005e85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.text {
  all: none;
  color: black;
  font-size: 1.2rem;
  /* font-weight: bold; */
  background-color: grey;
  border-radius: 10px;
  padding: 0.5rem;
}

.text:hover {
  opacity: 0.8;
}
